/* Base styles */

body{
  background: #ffff00;
  border: dotted dashed solid double #000000;
  color: #0000ff;
}



.banner{
background: url('../images/kaydensfarmsbanner.jpg')
}

.banner-text{
  align: center;
  font-family: 'Bad Script', cursive;
}
